.img1 {
  margin-left: 25px;
  margin-top: 20px;
}
.body {
  background-image:url('fondoo.jpg')
  background-attachment: fixed;
background-size: cover;
}
.h2 {
  margin-left: 40px;
}
.fs1 {
  height: 90px;
  margin-left: 20px;
}
.a1 {
  margin-left: 20px;
}
.cont {
  background-color: white;
  margin-left: 300px;
  border: solid 8px;
  border-radius: 20px;
  padding: 10px;
}
.e1{
  width: 100px;
  height: 100px;
  position: front;
}